* {
  transition: 0.3s;
  background: white;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 100vh;
}

a {
  color: black;
  font-size: 24px;
}

footer {
  position: absolute;
  display: inline;
  bottom: 10px;
  right: 10px;
}

.super-shot {
  filter: invert(1);
}

.asteroids-class {
  transition: 0.3s;
}

canvas {
  transition: 0.3s;
}

@media screen and (max-width: 1440px) {
  .asteroids-class {
    transform: scale(0.8);
  }

  canvas {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1150px) {
  .asteroids-class {
    transform: scale(0.6);
  }

  canvas {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 860px) {
  .asteroids-class {
    transform: scale(0.4);
  }

  canvas {
    transform: scale(0.4);
  }
}
