* {
  transition: 0.3s;
  background: white;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 100vh;
}

.super-shot {
  filter: invert(1);
}
